/*
    This file is part of hidedit.
    (C) Copyright 2012 Ilan Tayari

    hidedit is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    hidedit is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with hidedit.  If not, see http://www.gnu.org/licenses/
*/

/************
 * Loading  *
 ************/
#loading
{
	height: 20px;
	border: 1px solid black;
	display: inline-block;
}
#loading DIV
{
	width: 20px;
	height: 20px;
	background: white;
	display: inline-block;
}
#loading DIV.done
{
	background: blue;
}

/************
 * Toolbar  *
 ************/

#toolbar 
{
    width: 100%;
    border-bottom: 1px solid black;
    padding: 3px;
    background: #c0c0c0;
}
DIV.tbbtn
{
    width: 32px;
    height: 32px;
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-bottom: 2px solid #808080;
    border-right: 2px solid #808080;
    margin-right: 2px;
    padding: 0px;
    background-image: url('toolbar.png');
    display: inline-block;
}
DIV.pressed
{
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    border-top: 2px solid #808080;
    border-left: 2px solid #808080;
}
DIV.disabled
{
    background-image: url('toolbar-disabled.png');	
}

/******************
 * Item tree view *
 ******************/

#itemtree
{
    overflow: scroll;
}
.treeitem
{
    font-size: 80%;
    cursor: default;
    display:block;
    border: 0px;
    margin: 0px;
    padding: 0px;
    background: transparent;
    height: 16px;
}
.selectedItem
{
    background-color: #b0b0ff;
}
.errorItem
{
    color: #c00000;
    font-weight: bold;
}
.treeitemindent
{
    display: inline-block;
    width: 20px;
}


/***************
 * Report view *
 ***************/
DIV.report
{
    display: inline-block;
    border: 1px solid black;
    padding: 0px;
    margin-right: 10px;
}

DIV.reportError
{
    display: inline-block;
    border: 1px solid red;
    padding: 10px;
}

DIV.report P
{
    padding: 0px;
    margin: 0px 10px 0px 10px;
}

DIV.report P.Type
{
    text-align: center;
    font-weight: bold;
    background: silver;
    margin: 0px;
    border-bottom: 1px solid black;
}

/**********
 * Dialog *
 **********/
DIV.DialogParent
{
	position: absolute;
	background: rgba(128, 128, 128, 0.6);
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	text-align: center;
	vertical-align: bottom;
}
.hidden
{
	display: none;
}
.visible
{
	display: inline-block;
}
DIV.Dialog
{
	display: inline-block;
	width: 300px;
	height: 200px;
	text-align: left;
	vertical-align: top;
	margin-top: 100px;
}
.DialogCaption
{
	background: #0000ff;
	color: White;
	font-family: Verdana;
	padding-left: 10px;
	width: 100% - 20px;
	height: 24px;
	margin: 0px;
}
.DialogContent
{
	border: 0px;
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	background: white;
}
.DialogCaptionButton
{
    width: 16px;
    height: 16px;
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-bottom: 2px solid #808080;
    border-right: 2px solid #808080;
    margin-top: 2px;
    margin-right: 2px;
    padding: 0px;
    background-image: url('toolbar.png');
    background-position: -256px 0px;
    display: inline-block;
    float: right;
}
DIV.ItemTypeData
{
}
